.weather {
	position: relative;

	display: inline-flex;
	justify-content: flex-end;
}

.icon {
	max-height: 40px;
}

@media (min-width: 2500px) {
	.icon {
		max-height: 55px;
	}
}

@media (min-width: 3500px) {
	.icon {
		height: 75px;
		max-height: none;
	}
}
