@use '../../scss/variables.scss' as *;

.container {
	height: 75vh;

	&--editMode .links, &:hover .links {
		height: auto;
	}

	&--editMode .addNew {
		display: block;
	}
}

.content {
	position: relative;
	z-index: 1;
	overflow: hidden;

	background: rgba(35, 35, 35, 0.75);
	border-radius: 7px;
	backdrop-filter: blur(7px);
	box-shadow: $boxShadow;
}

.links {
	height: 0;
	margin: 0;
	overflow: hidden;

	font-size: 1.4em;

	list-style: none;
}

.link {
	display: block;
	padding: 7px 10px;

	&:hover {
		color: $highlight;
		background: rgba(255, 255, 255, 0.1);
	}
}

.addNew {
	display: none;

	color: $highlight;

	cursor: pointer;
}

@media (min-width: 1900px) {
	.links {
		font-size: 1.6em;
	}

	.link {
		padding: 10px 15px;
	}
}

@media (min-width: 2500px) {
	.links {
		font-size: 2em;
	}
}

@media (min-width: 3500px) {
	.links {
		font-size: 3em;
	}

	.link {
		padding: 15px 20px;
	}
}
