@use '../../scss/variables.scss' as *;

.box {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	@include darkGreyTransparent(0.75, 20px);
	border-radius: 7px;

	cursor: default;

	&--marginRight {
		margin-right: $gapSm;
	}

	&:hover {
		background-color: $grey;
	}
}
