@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap');
@import './reset.scss';

body {
	overflow: hidden;

	font-family: 'Signika', sans-serif;
	color: $text;

	background: url(../img/background.webp) #{$darkGrey} center top fixed no-repeat;
	background-size: cover;

	padding: $gapSm;
}

h1 {
	padding: 10px;

	font-size: 1.6em;
	font-weight: 600;
	text-transform: uppercase;

	cursor: default;
}

h2 {
	margin: 0 0 $gapLg 0;

	font-size: 2.4em;
	font-weight: 600;
	text-align: center;
}

@media (min-width: 1900px) {
	body {
		padding: $gapMd;
	}

	h1 {
		padding: 15px;

		font-size: 2em;
	}
}

@media (min-width: 3500px) {
	body {
		padding: $gapLg;
	}

	h1 {
		padding: 20px;

		font-size: 3em;
	}

	h2 {
		font-size: 2.2em;
	}
}
