@use './variables.scss' as *;
@use './reset.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap');

html {
	height: 100%;
}

body {
	height: 100%;

	font-family: 'Signika', sans-serif;
	color: $text;

	background: url(../img/background.webp) #{$darkGrey} center top fixed no-repeat;
	background-size: cover;

	padding: $gapSm;
}

#newtab {
	height: 100%;
}

@media (max-width: 900px) {
	body {
		overflow: visible;
	}
}

@media (min-width: 1900px) {
	body {
		padding: $gapMd;
	}
}

@media (min-width: 3500px) {
	body {
		padding: $gapLg;
	}
}
