$text: #fff;
$darkGrey: #23272f;
$grey: #2b313b;
$lightGrey: #343b47;
$highlight: #fd5306;
$boxShadow: 0 0 35px rgba(0, 0, 0, 0.5);
$textShadow: 2px 2px 0 rgba(0, 0, 0, 1);

$gapSm: 10px;
$gapMd: 20px;
$gapLg: 30px;
